:root {
    --main-color: #23B2EE;
    --border-color: #14688b;
    --background-color: #EEEEEE;

    --top-height: 2rem;
    --canvas-height: 11rem;
    --title-height: 1rem;
    --button-size: 2.8rem;
    --bottom-size: 2rem;
    
    --button-background-color: #CCCCCC;
    --button-text-color: #333333;
    --button-border-color: #AAAAAA;
    
    --button-pressed-color: #0f4e69;
    --button-pressed-text-color: #CCCCCC;
    
    --move-button-size: 1.8rem;
    --move-button-border-radius: 25px;
    --move-button-border: 3px solid var(--button-border-color);

    --action-button-size: 5rem;
    --action-button-border: 0.5rem solid var(--button-border-color);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.canvasrama {
    display: grid;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    padding: 1rem;
    background-color: var(--main-color);
    overflow: hidden;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid var(--border-color);
    background-color: #fff;
    align-self: center;
    justify-self: center;
}

/* #region buttons */
.canvasrama button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .canvasrama .move {
        position: relative;
        border: var(--move-button-border);
        font-size: calc(var(--move-button-size) * 1.4)
    }

        .canvasrama .up {
            border-bottom: 0;
            border-top-left-radius: var(--move-button-border-radius);
            border-top-right-radius: var(--move-button-border-radius);
        }

        .canvasrama .right {
            border-left: 0;
            border-top-right-radius: var(--move-button-border-radius);
            border-bottom-right-radius: var(--move-button-border-radius);
        }

        .canvasrama .down {
            border-top: 0;
            border-bottom-left-radius: var(--move-button-border-radius);
            border-bottom-right-radius: var(--move-button-border-radius);
        }

        .canvasrama .left {
            border-right: 0;
            border-top-left-radius: var(--move-button-border-radius);
            border-bottom-left-radius: var(--move-button-border-radius);
        }

    .canvasrama .action {
        width: var(--action-button-size);
        height: var(--action-button-size);
        border: var(--action-button-border);
        border-radius: 100%;
        align-self: center;
        font-size: calc(var(--action-button-size) * 0.45);
    }

        .canvasrama .circle {
            justify-self: start;
        }

        .canvasrama .square {
            justify-self: end;
        }
/* #endregion */

/* #region buttons::pressed */
.canvasrama button:active, .canvasrama button:hover {
    background-color: var(--button-pressed-color);
    color: var(--button-pressed-text-color)
}

    .canvasrama .up:active .arrow.arrow-button-up, .canvasrama .up:hover .arrow.arrow-button-up {
        border-top-color: var(--button-pressed-color);
    }

    .canvasrama .right:active .arrow.arrow-button-right, .canvasrama .right:hover .arrow.arrow-button-right {
        border-right-color: var(--button-pressed-color);
    }

    .canvasrama .down:active .arrow.arrow-button-down, .canvasrama .down:hover .arrow.arrow-button-down {
        border-bottom-color: var(--button-pressed-color);
    }

    .canvasrama .left:active .arrow.arrow-button-left, .canvasrama .left:hover .arrow.arrow-button-left {
        border-left-color: var(--button-pressed-color);
    }
/* #endregion */

/* #region arrows */
.canvasrama .center {
    border: 0;    
    background-color: var(--button-border-color);
}

.canvasrama .arrow {
    position: absolute;
    width: 0; 
    height: 0; 
    border: var(--move-button-size) solid var(--button-background-color);
    z-index: 1;
}

    .canvasrama .arrow.arrow-button-up {
        left: 0;
        bottom: calc(var(--move-button-size) * -1);
        border-bottom: 0;
        border-left-color: transparent;
        border-right-color: transparent;
    }

    .canvasrama  .arrow.arrow-button-right {
        top: 0;
        left: calc(var(--move-button-size) * -1);
        border-left: 0;
        border-top-color: transparent;
        border-bottom-color: transparent; 
    }

    .canvasrama .arrow.arrow-button-down {
        top: calc(var(--move-button-size) * -1);
        left: 0;
        border-top: 0;
        border-left-color: transparent;
        border-right-color: transparent;
    }
        
    .canvasrama .arrow.arrow-button-left {
        top: 0;
        right: calc(var(--move-button-size) * -1);
        border-right: 0;
        border-top-color: transparent;
        border-bottom-color: transparent;
    }
/* #endregion */

/* #region media queries portrait */
@media (orientation: portrait) {
    html, body {
        background-color: red;
    }

    .canvasrama {
        grid-template-columns: var(--button-size) var(--button-size) var(--button-size) auto var(--button-size) var(--button-size) var(--button-size) 0;
        grid-template-rows: var(--canvas-height) var(--title-height) var(--button-size) var(--button-size) var(--button-size) var(--bottom-size);
        height: calc(var(--canvas-height) + var(--title-height) + (var(--button-size) * 3 ) + var(--bottom-size));
    }

    canvas {
        grid-column: 1 / span 7;
        grid-row: 1;
    }

    .canvasrama .up {
        grid-column: 2;
        grid-row: 3;
    }

    .canvasrama .right {
        grid-column: 3;
        grid-row: 4;
    }

    .canvasrama .down {
        grid-column: 2;
        grid-row: 5;
    }

    .canvasrama .left {
        grid-column: 1;
        grid-row: 4;
    }

    .canvasrama .circle {
        grid-column: 5 / span 2;
        grid-row: 4 / span 2;
    }

    .canvasrama .square {
        grid-column: 6 / span 2;
        grid-row: 3  / span 2;
    }

    .canvasrama .center {
        grid-column: 2;
        grid-row: 4; 
    }
}

@media (max-width: 1110px) and (orientation: portrait) {
    :root {
        --canvas-height: 35rem;
        --title-height: 2.5rem;
        --button-size: 8rem;
        --bottom-size: 3rem;

        --move-button-size: 3.8rem;
        --action-button-size: 12rem;
    }

    canvas {
        width: 960px;
    }
}

@media (max-width: 800px) and (orientation: portrait) {
    :root {
        --canvas-height: 30rem;
        --title-height: 3rem;
        --button-size: 6rem;
        --bottom-size: 3rem;

        --move-button-size: 2.85rem;
        --action-button-size: 9rem;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    :root {
        --canvas-height: 20rem;
        --title-height: 1rem;
        --button-size: 3.75rem;
        --bottom-size: 2rem;

        --move-button-size: 1.6rem;
        --action-button-size: 5.5rem;
    }
}

@media (max-width: 450px) and (orientation: portrait) {
    :root {
        --canvas-height: 15rem;
        --title-height: 1rem;
        --button-size: 3.5rem;
        --bottom-size: 2rem;

        --move-button-size: 1.6rem;
        --action-button-size: 5.5rem;
    }
}

@media (max-width: 380px) and (orientation: portrait) {
    :root {
        --canvas-height: 15rem;
        --title-height: 1rem;
        --button-size: 3.25rem;
        --bottom-size: 2rem;

        --move-button-size: 1.55rem;
        --action-button-size: 5.25rem;
    }
}

@media (max-width: 330px) {
    :root {
        --canvas-height: 11rem;
        --title-height: 1rem;
        --button-size: 2.8rem;
        --bottom-size: 2rem;

        --move-button-size: 1.3rem;
        --action-button-size: 4.5rem;
    }
}
/* #endregion */

/* #region media queries landscape */
@media (orientation: landscape) {
    html, body {
        background-color: blue;
    }

    .canvasrama {
        grid-template-columns: var(--button-size) var(--button-size) var(--button-size) var(--canvas-padding) auto var(--canvas-padding) var(--button-size) var(--button-size) var(--button-size) 0;
        grid-template-rows: var(--top-height) auto var(--button-size) var(--button-size) var(--button-size) auto var(--bottom-size);
        height: 100vh;
        padding: 0.25rem;
    }

    canvas {
        grid-column: 5;
        grid-row: 1 / 8;
    }

    .canvasrama .up {
        grid-column: 2;
        grid-row: 3;
    }

    .canvasrama .right {
        grid-column: 3;
        grid-row: 4;
    }

    .canvasrama .down {
        grid-column: 2;
        grid-row: 5;
    }

    .canvasrama .left {
        grid-column: 1;
        grid-row: 4;
    }

    .canvasrama .circle {
        grid-column: 7 / span 2;
        grid-row: 4 / span 2;
    }

    .canvasrama .square {
        grid-column: 8 / span 2;
        grid-row: 3  / span 2;
    }

    .canvasrama .center {
        grid-column: 2;
        grid-row: 4; 
    }
}

@media (max-height: 1110px) and (orientation: landscape) {
    :root {
        --top-height: 1rem;
        --canvas-padding: 0.5rem;
        --button-size: 4.5rem;
        --bottom-size: 1rem;

        --move-button-size: 2.1rem;
        --action-button-size: 7rem;
    }

    canvas {
        width: 960px;
    }
}

@media (max-height: 800px) and (orientation: landscape) {
    :root {
        --top-height: 1rem;
        --canvas-padding: 0.5rem;
        --button-size: 3.5rem;
        --bottom-size: 1rem;

        --move-button-size: 1.55rem;
        --action-button-size: 5.5rem;
    }
}

@media (max-height: 420px) and (orientation: landscape) {
    :root {
        --top-height: 1rem;
        --canvas-padding: 0.5rem;
        --button-size: 2.75rem;
        --bottom-size: 1rem;

        --move-button-size: 1.2rem;
        --action-button-size: 4rem;
    }
}

@media (max-height: 330px) and (orientation: landscape) {
    :root {
        --top-height: 1rem;
        --canvas-padding: 0.5rem;
        --button-size: 2.5rem;
        --bottom-size: 1rem;

        --move-button-size: 1.05rem;
        --action-button-size: 4rem;
    }
}
/* #endregion */

/* #region icomoon  */
@font-face {
    font-family: 'canvasrama';
    src:  url('./assets/fonts/canvasrama.eot?4sxejq');
    src:  url('./assets/fonts/canvasrama.eot?4sxejq#iefix') format('embedded-opentype'),
      url('./assets/fonts/canvasrama.ttf?4sxejq') format('truetype'),
      url('./assets/fonts/canvasrama.woff?4sxejq') format('woff'),
      url('./assets/fonts/canvasrama.svg?4sxejq#canvasrama') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'canvasrama' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-triangle:before {
    content: "\e900";
  }
  .icon-enlarge:before {
    content: "\e989";
  }
  .icon-shrink:before {
    content: "\e98a";
  }
  .icon-settings:before {
    content: "\e994";
  }
  .icon-power:before {
    content: "\e9b6";
  }
  .icon-download:before {
    content: "\e9c7";
  }
  .icon-cross:before {
    content: "\ea0f";
  }
  .icon-play:before {
    content: "\ea1c";
  }
  .icon-pause:before {
    content: "\ea1d";
  }
  .icon-up:before {
    content: "\ea32";
  }
  .icon-right:before {
    content: "\ea34";
  }
  .icon-down:before {
    content: "\ea36";
  }
  .icon-left:before {
    content: "\ea38";
  }
  .icon-square:before {
    content: "\ea53";
  }
  .icon-circle:before {
    content: "\ea56";
  }  
/* #endregion */